#gameMap {height: 50rem; width: 100%;}

/*Start Menu*/

.mainScreen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cjMenu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #1D1D1D;
    border-radius: 6rem;
    padding: 3.5rem;
}

.cjMenu div{
    background-color: #00E0FF;
    width: 20rem;
    border-radius: 5rem;
    padding: 3rem;
}

.cjMenu div p{
    font-size: 3rem;
    text-align: center;
}

.sMenu{
    gap: 3rem;
    background-color: #1D1D1D;
    margin-top: 3rem;
    border-radius: 6rem;
    padding: 3.5rem;
}

.sMenu div{
    background-color: #00E0FF;
    width: 20rem;
    border-radius: 5rem;
    padding: 3rem;
}

.sMenu div p{
    font-size: 3rem;
    text-align: center;
}


.cjMenu div:hover{
    cursor: pointer;
}

.sMenu div:hover{
    cursor: pointer;
}

/*Creat Game Menu*/

.creatGame{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nameMenu{
    background-color: #1D1D1D;
    margin-top: 3rem;
    border-radius: 6rem;
    padding: 3.5rem;
    margin-top: 8rem;
}

.nameMenu form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#userName{
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 3rem;
    width: 20rem;
}

#submitName{
    background-color: #00E0FF;
    border-radius: 5rem;
    font-size: 3rem;
    padding: 3rem;
}

/* Map Placement Menu*/

.creatGameMapPlacement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cgmpContent{
    z-index: 1;
}

.cgmpContent p{
    color: black;
}

.nextMenu{
    background-color: #00E0FF;
    width: 15rem;
    border-radius: 5rem;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
}

.nextMenu:hover{
    cursor: pointer;
}

.nextMenu p{
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
}

#mapPlacement { 
    height: 100vh; 
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mapSize {
    -webkit-appearance: none;
    width: 36rem;
    height: 1rem;
    border-radius: 1rem; 
    border: black 1px solid; 
    background: #ffffff;
    outline: none;
    position: absolute;
    float: right;
    transform: rotate(270deg);
}
  
.mapSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    background: #bcbcbc;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #bcbcbc;
    cursor: pointer;
}

/* Game Settings Menu*/

.creatGameSettings{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creatGameSettings form{
    display: flex;
    flex-direction: column;
}

/*Join Game Menu*/

.joinGame{
    display: none;
}

/*Lobby Menu*/

.lobby{
    display: none;
}

/*Game Menu*/

.game{
    display: none;
}

/*Settings Menu*/

.settings{
    display: none;
}