@import url('https://fonts.googleapis.com/css?family=Frijole');

/*Start Menu*/

.mainScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ttMenu{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

.zwTitelLeft{
    filter: drop-shadow(10px 4px 2px blue);
}

.zwTitelRight{
    filter: drop-shadow(10px 4px 2px red);
}

.cjMenu{
    margin-top: 6rem;
    display: flex;
    gap: 3rem;
    border: 2px solid rgb(45, 45, 45);
    border-radius: 6rem;
    padding: 3.5rem;
}

.cjMenu div{
    width: 20rem;
    border-radius: 5rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creatGamebtn, .joinGamebtn, .settingsbtn{
    transition: 0.5s;
    border: 2px solid rgb(45, 45, 45);
}

.creatGamebtn:hover, .joinGamebtn:hover, .settingsbtn:hover{
    border: 2px solid lightblue;
}

.cjMenu div p{
    font-size: 3rem;
    text-align: center;
}

.sMenu{
    gap: 3rem;
    background-color: #0c0c0c;
    margin-top: 3rem;
    border-radius: 6rem;
    padding: 3.5rem;
}

.sMenu div{
    background-color: #00E0FF;
    width: 20rem;
    border-radius: 5rem;
    padding: 3rem;
}

.sMenu div p{
    font-size: 3rem;
    text-align: center;
}

.cjMenu div:hover{
    cursor: pointer;
}

.sMenu div:hover{
    cursor: pointer;
}

/*Creat Game Menu*/

.creatGame{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nameMenu{
    margin-top: 3rem;
    border-radius: 6rem;
    padding: 3.5rem;
    margin-top: 8rem;
    border: 2px solid rgb(45, 45, 45);
}

.nameMenu form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#userName{
    background-color: #0c0c0c;
    border: 2px solid rgb(45, 45, 45);
    color: white;
    text-align: center;
    border-radius: 4rem;
    font-size: 3rem;
    width: 25rem;
}

#submitName{
    font-family: 'Frijole';
    border-radius: 5rem;
    font-size: 2rem;
    padding: 3rem;
    width: 20rem;
    transition: 0.5s;
    border: 2px solid rgb(45, 45, 45);
    background-color: #0c0c0c;
    color: white;
}

#submitName:hover{
    border: 2px solid lightblue;
}

/* Map Placement Menu*/

.creatGameMapPlacement{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cgmpContent{
    z-index: 1;
}

.cgmpContent p{
    color: black;
}

.posIcon{
    filter: contrast(0);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.posIcon:hover{
    cursor: pointer;
}

.nextMenu{
    background-color: #ffffff;
    width: 10rem;
    border-radius: 5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;;
    
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
}

.nextMenu:hover{
    cursor: pointer;
}

.nextMenu p{
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
}

#mapPlacement { 
    height: 100vh; 
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mapSize {
    -webkit-appearance: none;
    width: 36rem;
    height: 1rem;
    border-radius: 1rem; 
    border: black 1px solid; 
    background: #ffffff;
    outline: none;
    margin-top: 4rem;
}
  
.mapSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    background: #bcbcbc;
    cursor: pointer;
}

/* Game Settings Menu*/

.creatGameSettings{
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creatGameSettings form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #090909;
    border: rgb(45, 45, 45) solid 2px;
    border-radius: 2rem;
    padding: 2rem;
    gap: 3.5rem;
}

.creatGameSettings form p{
    font-size: 2rem;
}

.htSet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.htTime {
    -webkit-appearance: none;
    width: 36rem;
    height: 1rem;
    border-radius: 1rem; 
    border: rgb(45, 45, 45) 2px solid; 
    background: #00000000;
    outline: none;
}
  
.htTime::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    background: #0075ff;
    cursor: pointer;
}

.zsSet{
    display: flex;
    flex-direction: column;
}

.zsSetCheckbox{
    display: flex;
    gap: 1.5rem;
}

.zsSetCheckbox input{
    width: 3rem;
}

.ssSet{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.ssText{
    font-size: 3rem !important;
    text-align: center;
}

.ssSetSpeedbtn{
    display: flex;
    gap: 2rem;
}

.ssSetSpeedbtn div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ssSetSpeedbtn input{
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: 0;
}

.ssSetSpeedbtn input + .radio{
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
}

input[type="radio"]:checked + .radio {
    background: #0075ff;
}


.ssSetSpeed{
    display: flex;
    gap: 5rem;
}

.ssSetSpeed p{
    font-size: 1rem !important;
}


.hbSet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hbSet input{
    position: absolute;
    margin-bottom: -5rem;
    width: 4rem;
    height: 4rem;
    opacity: 0;
}


.hbSet input + .checkbox{
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
}

input:checked + .checkbox {
    background: #0075ff;
}


.cgsSubmit {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.cgsSubmit input{
    border: none;
    font-family: 'Frijole';
    color: white;
    background-color: #00000000;
    border-radius: 3rem;
    font-size: 2rem;
    margin-top: 0.1;
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.cgsSubmit input.start {
    color: white;
    border: rgb(0, 255, 0) 2px solid;

}

.cgsSubmit input.back {
    border: red 2px solid;

}

.cgsSubmit input:hover{
    cursor: pointer;
}

/*Join Game Menu*/

.joinGame{
    display: none;
}

/*Settings Menu*/

.settings{
    display: none;
}

.none {

}

.slow {
    color: rgb(0, 255, 0);
}
.medium {
    color: rgb(255, 255, 0);
}
.fast {
    color: red
}

