@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Frijole');

html{
    font-family: 'Frijole';
    background: #0c0c0c;
}

body, p{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: snow;
}

.menus{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.forms{
    margin-top: 2rem;
    border-radius: 6rem;
    padding: 3.5rem;
    border: 2px solid rgb(45, 45, 45);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* *title */
.title{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

.title-left{
    filter: drop-shadow(10px 4px 2px blue);
    text-align: center;
    font-size: 7rem;
    color: snow;
}

.title-right{
    filter: drop-shadow(10px 4px 2px red);
    text-align: center;
    font-size: 7rem;
    color: snow;
    
}
/* *title */

.inputs{
    background-color: #0c0c0c;
    border: 2px solid rgb(45, 45, 45);
    color: white;
    text-align: center;
    border-radius: 4rem;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
}

.input-button{
    font-family: 'Frijole';
    border-radius: 5rem;
    font-size: 3rem;
    padding: 2rem;
    width: 21rem;
    transition: 0.5s;
    border: 2px solid rgb(45, 45, 45);
    background-color: #0c0c0c;
    color: white;
}

.p-button{
    font-family: 'Frijole';
    border-radius: 5rem;
    font-size: 3rem;
    padding: 2rem;
    width: 17rem;
    text-align: center;
    transition: 0.5s;
    border: 2px solid rgb(45, 45, 45);
    background-color: #0c0c0c;
    color: white;
}

.input-button:hover, .p-button:hover{
    border: 2px solid lightblue;
}


/* *popup */
.popup{
    font-family: 'inter';

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    display: none;
    flex-direction: column;
    
    gap: 1.5rem; 
    padding: 4rem;
    border-radius: 3em;
    z-index: 120;

    background-color: #0c0c0c;
    border: rgb(45, 45, 45) solid 2px;

    z-index: 1000;
}

.popup-titel{
    text-align: center;
    font-size: 1.5rem;
}

.popup-text{
    text-align: center;
    width: 30rem;
    transition: 1s;
}

.popup-exit{
    position: absolute;
    filter: contrast(0);

    transform: translate(-50%, -50%);
    top: 25%;
    left: 92%;

    z-index: 118;  
}

.popup-exit:hover{
    cursor: pointer;
}

.popup-blur{
    display: none;

    z-index: 999;
    height: 100vh;
    width: 100vw;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.800);
}
/* *popup */


@media only screen and (max-width: 1000px) { 

    html{
        font-size: 16px;
    }

    .title{
        margin: 8rem;
        flex-direction: column;
        gap: 0;
    }

    .title-left, .title-right{
        font-size: 10rem;
    }

    .title-left{
        padding-right: 15rem;
        margin-bottom: -2rem;
    }

    .title-right{
        padding-left: 15rem;
        margin-top: -2rem;
    }

    .landing-button{
        font-size: 4rem;
    
        padding: 5rem;
        width: 35rem;
        border-radius: 10rem;
    }
}

@media only screen and (max-width: 900px) {
    html{
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    html{
        font-size: 12px;
    }
}

@media only screen and (max-width: 680px) {
    html{
        font-size: 10px;
    }
}

@media only screen and (max-width: 680px) {
    html{
        font-size: 10px;
    }
}