@import url('https://fonts.googleapis.com/css?family=Frijole');

/* landing */

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-buttons{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border: 2px solid rgb(45, 45, 45);
    border-radius: 6rem;
    padding: 3.5rem;
}

.landing-button{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 3rem;

    border: 2px solid rgb(45, 45, 45);
    border-radius: 5rem;
    padding: 3rem;
    width: 20rem;
    
    transition: 0.5s; 
}

.landing-button:hover{
    border: 2px solid lightblue;
}


/* Map circle radius */


.host-map{
    width: 100vw;
}

#map { 
    height: 100vh; 
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pos-icon{
    filter: contrast(0);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: 10000000;
}

.pos-icon:hover{
    cursor: pointer;
}

.host-map-back, .host-map-next{
    width: 10rem;
    border-radius: 5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;;
    
    position: absolute;
    bottom: 0%;
    transform: translate(-50%);
}

.host-map-back p, .host-map-next p{
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    color: white;
}

.host-map-back:hover, .host-map-next:hover{
    cursor: pointer;
}

.host-map-back{
    border: 2px solid red;
    left: 40%;
}

.host-map-next{
    border: 2px solid green;
    left:60%;
}


.map-CircleRadius-range {
    appearance: none;
    width: 36rem;
    height: 1rem;
    border-radius: 1rem; 
    border: black 1px solid; 
    background: #ffffff;
    outline: none;
    margin-top: 4rem;
}
  
.map-CircleRadius-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    background: #bcbcbc;
    cursor: pointer;
}


/* Game Settings Menu*/

.host-GameSettings{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.host-GameSettings form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #090909;
    border: rgb(45, 45, 45) solid 2px;
    border-radius: 2rem;
    padding: 2rem;
    gap: 3.5rem;
}

.host-GameSettings form p{
    font-size: 2rem;
}

.host-settings-title{
    font-size: 3rem !important;
    text-align: center;
}

.host-HideTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.HideTime-range {
    -webkit-appearance: none;
    width: 36rem;
    height: 1rem;
    border-radius: 1rem; 
    border: rgb(45, 45, 45) 2px solid; 
    background: #00000000;
    outline: none;
}
  
.HideTime-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    background: #0075ff;
    cursor: pointer;
}

.host-ShrinkSpeed{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.host-ShrinkSpeed-options{
    display: flex;
    gap: 2rem;
}

.host-ShrinkSpeed-options div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.host-ShrinkSpeed-options input{
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: 0;
}

.host-ShrinkSpeed-options input + .radio{
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
}

input[type="radio"]:checked + .radio {
    background: #0075ff;
}


.ssSetSpeed{
    display: flex;
    gap: 5rem;
}

.ssSetSpeed p{
    font-size: 1rem !important;
}


.host-heartbeat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.host-heartbeat input{
    position: absolute;
    margin-bottom: -5rem;
    width: 4rem;
    height: 4rem;
    opacity: 0;
}


.host-heartbeat input + .checkbox{
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
}

input:checked + .checkbox {
    background: #0075ff;
}


.host-GameSettings-submit {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.host-GameSettings-submit input, .back{
    border: none;
    font-family: 'Frijole';
    color: white;
    background-color: #00000000;
    border-radius: 3rem;
    font-size: 2rem;
    margin-top: 0.1;
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.host-GameSettings-submit input.start {
    color: white;
    border: rgb(0, 255, 0) 2px solid;

}

.back{
    border: red 2px solid;

}

.host-GameSettings-submit input:hover, .back{
    cursor: pointer;
}

.slow {
    color: rgb(0, 255, 0);
}
.medium {
    color: rgb(255, 255, 0);
}
.fast {
    color: red
}

/*Join Game Menu*/

.join-page{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-name{
    width: 25rem;
    height: 4rem;
}

.join-name:hover{
    border: 2px solid lightblue;
}

#join-submit{
    font-size: 3rem;
    padding: 2rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    font-family: 'Frijole';
    transition: 0.5s;
}

#join-submit:hover{
    border: 2px solid lightblue;
}

.join-back{
    font-family: 'Frijole';
    border-radius: 5rem;
    font-size: 3rem;
    padding: 2rem;
    width: 16rem;
    transition: 0.5s;
    border: 2px solid rgb(45, 45, 45);
    background-color: #0c0c0c;
    text-align: center;
}

.join-back:hover{
    cursor: pointer;
    border: 2px solid lightblue;
}
