@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Frijole');

html{
    font-family: 'Frijole';
    background: #0c0c0c;
}

body, p{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: snow;
}

.title{

    text-align: center;
    font-size: 8rem;
    color: snow;
}