/*Lobby Menu*/

.lobby{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lobby .head {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.head .info {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    background-color: #ffffff;
}

.head h3 {
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.head .info p {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: black;
}

.head .info img {
    height: 5rem;
}


.head .actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.head .actions .leave, .head .actions .start:hover {
    cursor: pointer;
}

.head .actions .leave {
    padding: 1rem 1.3rem 1rem 1.3rem;
    border: solid 2px red;
    border-radius: 40px;
}


.head .actions .start {
    display: none;
    padding: 1rem 1.3rem 1rem 1.3rem;
    border: solid 2px rgb(0, 255, 0);
    border-radius: 40px;
}


/*Player*/

.playerList {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    width: 60%;
    text-align: center;
}

.lobby .player {
    margin-top: 2rem;
}

.lobby .player p{
    font-size: 1.4rem;
}

/*Game Menu*/

.game{
    visibility: hidden;
}

.bottom {
    position: absolute;
    left: 10px;
    bottom: 10px;

    display: flex;
    gap: 1rem;

    z-index: 20000000;
}

.stopgame {
    padding: 1rem 1.3rem 1rem 1.3rem;
    border: solid 2px red;
    border-radius: 40px;
}

.stopgame:hover {
    cursor: pointer;
}

.marker {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-top: -2.25rem;
}

.marker span {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #ffffff;
}

.marker img {
    height: 1.8rem;
}

.marker.friend img {
    filter: invert(51%) sepia(94%) saturate(935%) hue-rotate(78deg) brightness(109%) contrast(129%);
}

.marker.seeker img {
    filter: invert(16%) sepia(98%) saturate(7437%) hue-rotate(360deg) brightness(108%) contrast(107%);
}

.marker.self img {
    filter: invert(7%) sepia(100%) saturate(7450%) hue-rotate(247deg) brightness(107%) contrast(138%);
}

#gameMap {height: 100vh; width: 100vw;}